.cart{
    width: 100%;
    padding: 30px;
    background: #FFF1EC;
}

.cart-heading{
    font-size: 24px;
    font-weight: 800;
    margin-left: 30px;
    text-transform: uppercase;
    color: #106894;
}

.cart-table{
    margin-top: 50px;
}

.cart-table Container{
    width: 100%;
    
}

.col-heading{
    color: grey;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.col-content{
    color: grey;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.apply-coupon{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.cart-total{
    width: 100%;
    display: flex;
    justify-content: right;
    
    margin-top: 30px;
}

.cart-total Container{
    width: 50vw;
}



